/* // hanya buat warna dan font  */
/* bisa dibuat terpusata atau terpisah 
kalau mau terpisah jadinya App1.css , App2.css , App3.css , dan seterusnya
*/
body {
  font-family: "Rubik", sans-serif;
}

.header {
  background-color: #dff9fb;
  color: rgb(0, 0, 0);
}

.header-text {
  color: #000000;
}
/* form tabel */
table {
  width : 600px;
}
table tr td, table tr th{
  padding : 9px;
}
table tr th {
  background-color:blanchedalmond;
}
.table-profile {
  margin: auto;
}